//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";


        layers {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &bootloader
            >;

            label = "layers";
        };

        qwerty {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp Y      &kp U   &kp I      &kp O    &kp P
        &trans  &trans  &trans  &trans  &trans    &kp H      &kp J   &kp K      &kp L    &kp SEMI
&trans  &trans  &trans  &trans  &trans  &trans    &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                        &trans  &trans  &trans    &kp SPACE  &trans  &trans
            >;

            label = "qwerty";
        };
    };
};
