//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define layers 0
#define qwerty  1
#define numpad  2
#define mouse  3
#define mouse2 4
#define symbols 5

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layers {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &bootloader
            >;

            label = "layers";
        };

        qwerty {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp Y      &kp U   &kp I      &kp O    &kp P
        &trans  &trans  &trans  &trans  &trans    &kp H      &kp J   &kp K      &kp L    &kp SEMI
&trans  &trans  &trans  &trans  &trans  &trans    &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                        &trans  &trans  &trans    &kp SPACE  &trans  &trans
            >;

            label = "qwerty";
        };

        numpad {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "numpad";
        };

        mouse {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "mouse";
        };

        mouse2 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "mouse2";
        };

        symbols {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans    &kp LBKT  &kp RBKT  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &kp APOS  &kp LBKT  &kp RBKT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans    &trans  &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;

            label = "symbols";
        };
    };
};
